<%= form_with(model: note) do |form| %>

  <div>
    <%= form.label :title, style: "display: block", class: %w(form-label) %>
    <%= form.text_field :title, class: %w(form-control), placeholder: "Enter title here..." %>
      <% note.errors.full_messages_for(:title).each do |error| %>
        <li class="text-danger"><%= error %></li>
      <% end %>
  </div>

  <div>
    <%= form.label :desc, style: "display: block", class: %w(form-label) %>
    <%= form.text_area :desc, class: %w(form-control), placeholder: "Enter description here..." %>
     <% note.errors.full_messages_for(:desc).each do |error| %>
        <li class="text-danger"><%= error %></li>
      <% end %>
  </div>

  <div class="my-3">
    <%= form.submit class: %w(btn btn-primary btn-sm) %>
  </div>
<% end %>